<form name="boardManagement">

    <div ng-if="board._id === undefined">
        <label for="board_template">Select board template:</label>
        <select ng-model="board.type" ng-options="template for template in board_templates" class="form-control">
            <option value="">-- none --</option>
        </select>
        <br/>
    </div>

    <div ng-show="board.type == 'calendar'">

        <label for="board_name">Board name:</label>
        <input id="board_name" type="text" ng-model="board.name" class="form-control" ng-required="true" />
        <br/>

        <label for="board_main_purpose">Main purpose:</label>
        <input id="board_main_purpose" type="text" ng-model="board.main_purpose" class="form-control" />
        <br/>

        <label for="board_xaxis">Board xaxis:</label>
        <input id="board_xaxis" type="text" ng-model="x_axis" class="form-control" ng-list ng-required="true"/>
        <br/>

        <label for="board_yaxis">Board yaxis:</label>
        <input id="board_yaxis" type="text" ng-model="y_axis" class="form-control" ng-list ng-required="true"/>
        <br/>

        <div class="checkbox" ng-if="board._id !== undefined">
            <label>
                <input type="checkbox" ng-model="board.archived" /> Is this board archived?
            </label>
        </div>

        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th ng-repeat="x in board.x_axis"
                    ng-style="{ 'background-color': x.val == current_day ? '#FFFFCC' : ''}">{{x.val}}</th>
            </tr>
            <tr ng-repeat="y in board.y_axis">

                <th>{{y.val}}</th>
                <td id="{{x.id}}_{{y.id}}"
                    ng-repeat="x in board.x_axis"
                    ng-class="getCellClasses({{x.id}},{{y.id}})"
                    ng-click="toggleColor($event)"
                    ng-right-click="addComment($event)"
                    tooltip="{{getComment(x.id,y.id)}}"
                    tooltip-append-to-body="true"
                    data-cell="true"
                        >
                </td>
            </tr>
        </table>
        <button class="btn btn-default" ng-disabled="boardManagement.$invalid" ng-click="save(board)">Commit</button>
        <button class="btn btn-default" ng-disabled="boardManagement.$invalid" ng-click="addLink(board)">Link with</button>
        <button class="btn btn-danger" ng-disabled="!board._id" ng-click="delete(board)">Delete</button>

        <div style="text-align: right">
            <span ng-repeat="link in getLinks()">
                <a ng-href="#/boards/{{link._id.$oid}}">{{link.name}}</a>&nbsp;<a ng-href ng-click="removeLink(link)" >(X)</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </div>

    </div>

</form>
