<form name="boardManagement">

    <div ng-if="board._id === undefined">
        <label for="board_template">Select board template:</label>
        <select ng-model="board.type" ng-options="template for template in board_templates">
            <option value="">-- none --</option>
        </select>
    </div>

    <div ng-show="board.type == 'calendar'">

        <label for="board_name">Board name:</label>
        <input id="board_name" type="text" ng-model="board.name" class="form-control" ng-required="true" />
        <br/>

        <label for="board_main_purpose">Main purpose:</label>
        <input id="board_main_purpose" type="text" ng-model="board.main_purpose" class="form-control" />
        <br/>

        <label for="board_xaxis">Board xaxis:</label>
        <input id="board_xaxis" type="text" ng-model="x_axis" class="form-control" ng-list ng-required="true"/>
        <br/>

        <label for="board_yaxis">Board yaxis:</label>
        <input id="board_yaxis" type="text" ng-model="y_axis" class="form-control" ng-list ng-required="true"/>
        <br/>

        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th ng-repeat="x in board.x_axis"
                    ng-style="{ 'background-color': x.val == current_day ? '#FFFFCC' : ''}">{{x.val}}</th>
            </tr>
            <tr ng-repeat="y in board.y_axis">

                <th>{{y.val}}</th>
                <td id="{{x.id}}_{{y.id}}"
                    ng-repeat="x in board.x_axis"
                    ng-class="getCellClasses({{x.id}},{{y.id}})"
                    ng-click="toggleColor($event)"
                    ng-right-click="addComment($event)"
                    tooltip="{{getComment(x.id,y.id)}}"
                    tooltip-append-to-body="true"
                    data-cell="true"
                        >
                </td>
            </tr>
        </table>
        <button ng-disabled="boardManagement.$invalid" ng-click="save(board)">Submit</button>
        <button ng-disabled="!board._id" ng-click="delete(board)">Delete</button>
    </div>

</form>
