<form name="boardManagement">

    <p>Days in current month {{days_in_current_month}}</p>
    <p>Board id <strong>{{board._id}}</strong></p>

    <label for="board_user_id">User id:</label>
    <span><strong>{{board.user_id}}</strong></span>
    <br/>

    <label for="board_type">Board type:</label>
    <select ng-model="board.type" ng-options="type for type in board_types">
      <option value="">-- choose board type --</option>
    </select>

    <div ng-show="board.type == 'calendar'">
        <label for="board_name">Board name:</label>
        <input type="text" ng-model="board.name" ng-required="true" />
        <br/>

        <label for="board_xaxis">Board xaxis</label>
        <input type="text" ng-model="x_axis" ng-list ng-required="true"/>
        <br/>

        <label for="board_yaxis">Board yaxis</label>
        <input type="text" ng-model="y_axis" ng-list ng-required="true"/>
        <br/>

        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th ng-repeat="x in board.x_axis"
                    ng-style="{ 'background-color': x.val == current_day ? '#FFFFCC' : ''}">{{x.val}}</th>
            </tr>
            <tr ng-repeat="y in board.y_axis">

                <th>{{y.val}}</th>
                <td id="{{x.id}}_{{y.id}}"
                    ng-repeat="x in board.x_axis"
                    ng-class="getCellClasses({{x.id}},{{y.id}})"
                    ng-click="toggleColor($event)"
                        data-cell="true"
                        >
                </td>
            </tr>
        </table>
        <button ng-disabled="boardManagement.$invalid" ng-click="save(board)">Submit</button>
        <button ng-disabled="!board._id" ng-click="delete(board)">Delete</button>

        <!-- template used to confirm deletion -->
        <script type="text/ng-template" id="boardRemoval.html">
            <div class="modal-header">
                <h3 class="modal-title">Are you sure you want to delete '{{board.name}}'!</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

    </div>

</form>
